body {
  background-color: #fafafa;
  color: #858585;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Navigation */
.navigation-button {
  font-size: 1rem;
  font-weight: 500;
  background: none;
  border: none;
  color: #737373;
}

.login-register-button {
  font-size: 1.1rem;
  font-weight: 500;
  background: none;
  border: none;
  color: #007aff;
}

/* Breadcumb Navigation */
.hierarchy-small-nav {
  color: #bdbdbd;
}

/* Current Product */
@media only screen and (min-width: 1500px) {
  .current-product-div {
    /* width: 100px; */
    flex-direction: row;
    /* flex-wrap: wrap; */
  }
}
@media only screen and (max-width: 1500px) {
  .current-product-div {
    /* width: 100px; */
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
}

.CurrentProduct-book-tag-div {
  width: 506px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.CurrentProduct-book-tag {
  color: #000000;
  font-size: 1rem;
  font-weight: 600;
  background-color: #e0e0e0;
  padding: 0.4rem 1.6rem;
  border-radius: 2rem;
}

.CurrentProduct-book-details {
  margin: 0;
}
